.sidebar-header{
    background-color:#9d9d9d;
    font-size: 20px;
    text-align: center;
    margin-top: -15px;
    padding-top:10px;
}
.sidebar-content{
    background-color: black;
    color :white;
    height :auto;
}
.sidebar-content li{
    list-style: none;
    padding-top:15px;
    padding-bottom: 5px;
}
.sidebar-content li a{
    color :#9d9d9d;
    text-decoration: none;
}
.sidebar-content li a:hover{
      color : white;
}
.footer-content{
    padding:20px;
    text-align: center;
    background-color:beige;
}
.product_box{
    text-align: center;
    margin-left: 30px;
    margin-bottom: 10px;
    
}
.single_product{
    float :left;
    margin-left: 20px;
    padding:10px;
    color :black;
    
}
img{
    border : solid 2px black;
}
.shopping_cart{
    background:black;
    height:50px;
}